# dependencies
frontend/node_modules/

# production build
/build/
/dist/

# environment variables
.env


# misc
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.vscode/
.idea/

# local testing tools
coverage/
*.local

# OS specific files
*.swp
*.swo
