/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #054894, #d9d1eb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Increased from 400px to 450px */
    width: 90%;
    height: 650px; /* Set a fixed height for the main container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-around; /* Distribute space evenly */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #0c83f1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #005fa3;
    transform: scale(1.05);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

#qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto; /* Center the QR code container */
    transition: width 0.3s, height 0.3s; /* Smooth resizing animation */
}

#qr-code canvas {
    max-width: 100%; /* Ensure the canvas doesn't exceed the container size */
    max-height: 100%; /* Ensure the canvas doesn't exceed the container size */
    display: block;
}

#downloadBtn {
    display: none; /* Hidden by default */
    margin-top: 20px; /* Space between QR code and button */
}
    #sizeSelector {
        width: 200px; /* Set the width of the dropdown */
        padding: 10px 38px; /* Add padding inside the dropdown, moving the text left, right, up, down. */
        font-size: 16px; /* Set the font size */
        color: white;
        border: none; /* Add a border */
        border-radius: 5px; /* Add rounded corners */
        background-color: #0c83f1; /* Set background color */
        cursor: pointer; /* Change cursor to pointer */
        margin-bottom: 20px; /* Add space below the dropdown */
    }
    
    #sizeSelector:hover {
        border-color: #000000; /* Change border color on hover */
    }
  
    #sizeSelector:focus {
        outline: none; /* Remove the default focus outline */
        border-color: #000000; /* Change border color on focus */
        box-shadow: 0 0 5px #0c83f1(12, 131, 241, 0.5); /* Add a subtle shadow on focus */
    }
