/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #054894, #d9d1eb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #0c83f1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #005fa3;
    transform: scale(1.05);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

#qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%; /* Full width of the container */
    height: 300px; /* Fixed height for the QR code container */
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#qr-code canvas {
    width: 100%; /* Make the canvas fill the container */
    height: 100%; /* Make the canvas fill the container */
    display: block;
}

#downloadBtn {
    display: none; /* Hidden by default */
    margin-top: 20px; /* Space between QR code and button */
}