* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Center the button container */
.button-container {
  display: flex;               /* Flexbox for centering */
  justify-content: center;     /* Center horizontally */
  align-items: center;         /* Center vertically (if needed) */
  margin-top: 20px;            /* Space above the buttons */
  width: 100%; 
}

.button-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button {
  background-color: #007BFF;
  padding: 10px, 20px;
  color: white;
  border: none;
  width: auto;  /* Fixed small width */
}

#calculateButton {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#calculateButton:hover{
  background-color: #0056b3;
}

#exportButton {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

#exportButton:hover {
  background-color: #1e7e34;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;  /* Light green for light mode */
  color: #333;  /* Dark text for light mode */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .result {
  background-color: #444;  /* Dark background for dark mode */
  color: white;  /* Light text for dark mode */
}

.dark-mode .container {
  background-color: #000000;
}

.dark-mode input, .dark-mode button {
  background-color: #000000;
  color: white;
}

/* Dark mode button styling */
#darkModeToggle {
  padding: 5px;
  font-size: 12px;
  width: 40px;  /* Fixed small width */
  height: 40px;  /* Fixed small height for a compact square button */
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;  /* Makes it a perfect circle */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#darkModeToggle:hover {
  background-color: #333;
  color: #f0f0f0;
}

/* Footer styling */
.footer {
  text-align: center;
  padding: 15px 0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
 
}

.footer a {
  color: #007BFF; /* Link color */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


